h1 {
    color: green;
}

p {
    background-color: pink;
}

img {
    max-width: 100%;
}

.column {
    display: inline-block
}

.col1 {
    background: aqua;
}

.col2 {
    border: 5px solid black;
}

.col1 h1 {
    color: white;
}


/**HERO SECTION**/
.hero {
    height: 100vh;
    background-image: url("background\ image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blue;
    background: url("background\ image.jpg") no-repeat cover;
    position: relative;
}


.intro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px){
    .column{
        display: block;
        width: 100%;
    }
}